{% extends 'shop/index.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/contact.css') }}">

{% endblock %}
{% block title %}Contact{% endblock %}
{% block content %}
    <div class="background-header">
        <div class="bgh"></div>
        <h1>Contact us</h1>
    </div>
    <main>
        <p>Have a question or feedback? Feel free to contact us using the form below:</p>

        <form action="" method="post">
            <label for="name">Your Name:</label><br>
            <input type="text" id="name" name="name" value="{{ user.name }}" required><br>

            <label for="email">Your Email:</label><br>
            <input type="email" id="email" name="email" value="{{ user.email }}" required><br>

            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" required></textarea><br>

            <button type="submit">Submit</button>
        </form>
    </main>
{% endblock %}

