.cart-content {
    display: grid;
    grid-template-columns: 70% 5% 25%;
    padding: 5vw;
}

img {
    width: 100px;
}

.quantity-td {
    display: flex;
}

.resume-cart {
    background-color: #93c5fd;
    height: 20vw;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
}

.resume-cart h1{
    font-size: 3vw;
}

.resume-total {
    align-self: flex-start;
    height: 2vw;
    font-size: 1.3vw;
}

.quantity-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-radius: 1vw;
    background-color: #D0E7EF;
}

.quantity-container button {
    background-color: #D0E7EF;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.quantity-container button:hover {
    background-color: #91D3E3;
}

.quantity-container .quantity {
    padding: 0 10px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .cart-content {
        grid-template-columns: 1fr;
        padding: 3vw;
    }

    .resume-cart {
        height: auto;
        padding: 3vw;
        width: 100%;
        margin-top: 3vw;
    }

    .resume-cart h1{
        font-size: 5vw;
    }

    .resume-total {
        align-self: flex-start;
        height: 3vw;
        font-size: 2.5vw;
    }

    .quantity-container {
        width: 100%;
    }

    img {
        width: 80px;
    }

    .quantity-container .quantity {
        font-size: 14px;
    }
}