.product-detail {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1vw;
}

.product-image {
    margin: 3vw 7vw 2vw 10vw;
    border-radius: 1.3vw;
    height: 35vw;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    height: 30vw;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 3vw 3vw 2vw 0;
    padding: 0.5vw;
    height: 30vw;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 1vw;
    border: 1px solid #ddd;
}

#product_prize {
    color: #6c757d;
    font-size: 2vw;
    padding-bottom: 1vw;
}

#product_name {
    padding-bottom: 2vw;
    font-weight: bold;
    font-size: 3vw;
}

#product_description {
    margin-bottom: 1vw;
}

.product-info ul {
    list-style: none;
    padding: 0;
}

.product-info ul li {
    margin-bottom: 10px;
}

.add_cart {
    position: absolute;
    bottom: 1vw;
}

@media (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
        font-size: 2vw;
    }

    .product-image {
        margin: 5vw 0;
        height: 50vw;
        width: 80vw;
    }

    .product-image img {
        height: 45vw;
    }

    .product-info {
        margin: 5vw 0;
        padding: 2vw;
        height: auto;
        width: 90%;
    }

    #product_prize {
        font-size: 4vw;
        padding-bottom: 2vw;
    }

    #product_name {
        padding-bottom: 3vw;
        font-size: 5vw;
    }

    #product_description {
        margin-bottom: 2vw;
    }

    .add_cart {
        position: static;
        margin-top: 2vw;
    }
}
